body {
	background-color: black;	
	font-family: 'Poppins', sans-serif;	
}



.width-auto{
    width: auto;
}

.marg-bottom {
	margin-bottom: -29px;
}

.no-padding-left{
    padding-left: 0px !important;
}

.no-padding-right{
    padding-right: 0px !important;
}

.layer-down{
    z-index: -1;
}

.navigation-bar {
	background-color: white!important;
	padding: 25px 15px;
    text-align: center;
    color: black;

    .navbar__row{
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        svg path {
            fill: black;
            transition: 0.3s;
        }

        .navigation-bar__heading {
            font-size: 1.7rem;
            font-weight: 700;
            margin-bottom: 0px;
        }

        .navigation-bar__info{
            width: 32px;   
        }

// HOVER EFFECT

        .navigation-bar__info-col:hover{
            svg path {
                fill: rgb(145, 144, 144);
                transition: 0.3s;
            }
        }

        .navigation-bar__back-col:hover{
            svg path {
                fill: rgb(145, 144, 144);
                transition: 0.3s;
            }
        }
    }
}



.meal-stats {
	color: #f8f9fac7;
	padding: 16px 33px;

    .meal-stats__digit {
        font-size: 8vw;
        font-weight: 700;   
    }

    .meal-stats__unit {
        font-size: 3.5vw;
        padding-top: 19px;
        font-weight: 700;
    }
      
    .meal-stats__type {
        font-size: 3.5vw;
        text-align: center !important;
        font-weight: 500;
    }   
}



.shopping-list {
	width: 90%;
	margin-bottom: 42px;
	margin-top: 10px;
	padding: 14px 10px;

    .shopping-list__box {
        background: linear-gradient(89deg, #FFBA00 -2.48%, #FBD56E 145.24%);
        border-radius: 8px;
        padding: 8px 7px;
        // transition: 0.3s;
        
        .shopping-list__cart {
            padding: 7px 0px;
            width: 6vw;
            transition: 0.3s;
            left: 72px;    
            margin-left: 39%;    
        }
        
        .shopping-list__arrow {
            padding: 7px 0px;
            width: 3vw;
            transition: 0.3s;
            text-align: right;
            right: 80px;
            margin-right: 39%;
        }
        
        .shopping-list__text-box {
            margin-top: auto;
            margin-bottom: auto;
            transition: 0.3s;
            margin-left: auto;
            margin-right: auto;
        }
        
        .shopping-list__header {
            margin-bottom: 0rem;
            font-size: 16px;
            font-weight: 600;
            transition: 0.3s;
            line-height: 1;
        }
        
        .shopping-list__sub-text {
            font-size: 13px;
            margin-bottom: 0rem;
            font-weight: 400;
            transition: 0.3s;
        }    
        
        
        
        svg path {
            fill: rgb(0, 0, 0);
        }
    }
}


//hover effect
                .fade-hover {
                    border: none;
                    color: rgb(0, 0, 0);
                    text-align: center;
                    // transition: 0.3s;
                }
                
                .fade-hover:hover {
                    color: rgb(255, 255, 255);
                    // background: linear-gradient(89deg, #3b3b3b -2.48%, #fac942 145.24%);
                    // transition: 0.3s;
   
                    svg path {
                        fill: rgb(255, 253, 253);
                    }

                    .shopping-list__cart{
                        transition: 0.3s;
                        // width: 7vw;
                        margin-left: 40px;
                        // padding:20px 0px;
                        // margin-right: 40px;
                    }

                    .shopping-list__arrow {
                        transition: 0.3s;
                        // width: 4vw;
                        margin-right: 40px;
                        // padding:20px 0px;
                        // margin-right: 40px;
                    }

                    .shopping-list__text-box {
                        padding: 25px 7px;
                    }

                    .shopping-list__header {
                        transition: 0.3s;
                        font-weight: 600;
                    }

                    .shopping-list__sub-text {
                        // display: none;
                        transition: 0.3s;
                    } 

                   
                }



.meal-card {
	width: 100% !important;
    height: 75% !important;
	border: 0px !important;
	margin-bottom: 13px; 
	background: transparent;
    border-radius: 13px;
    // box-shadow:inset 0px -20px 20px 0px #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12px;


    .meal-card__background {
        border-radius: 13px;
        width: inherit;
        object-fit: cover;
        width: 100%;
        height: 172px;
    }

    .meal-card__background-1-1 {
        border-radius: 13px 0px 0px 13px;
        width: inherit;
        object-fit: cover;
        width: 100%;
        height: 172px;
    }

    .meal-card__background-1-2 {
        border-radius: 0px 13px 13px 0px;
        width: inherit;
        object-fit: cover;
        width: 100%;
        height: 172px;
    }
 

    .meal-card__header {
		font-size: 18px;
		font-weight: 600;
		border-radius: 10px;
		background-color: #5d5d5d;
		margin-left: -5px;
	}

    .card-img-overlay:hover {
        .meal-card__header {;
            background-color: #f3bb04;
        }
      
        svg path {
            fill: rgb(255, 255, 255);
            transition: 0.3s;
        }

	}

	.meal-card__sub-text {
		font-size: 17px;
		line-height: 32px;
		padding-left: 4px;
		font-weight: 600;
		margin-left: -5px;
	}

    .Card__images {
        text-align: right;
        position: absolute;
        right: 21px;
        bottom: 26px;

         svg path {
            fill: black;
            transition: 0.3s;
        }

        .card__image-1 {
            padding-left: 25px;
            width: 50px;}
        
        .card__image-2 {
            padding-left: 25px;
            width: 45px;
        }
    }


    
//hover effect

    .Card__images:hover{
        svg path {
            fill: white;
            transition: 0.3s;
        }
    }
}




  .footer {
    position: fixed;
    right: 38px;
    bottom: 27px;
    color: rgb(0, 0, 0);
    text-align: center;
    z-index: 45;
    
    .footer__image{
        width: 60px;
        height: 64px;
        transition: 00.3s;
    }

    svg path {
        fill: #000000;
    }

//hover effect  
    .footer__image:hover{
        width: 70px;
        transition: 00.3s;
    }
}

