body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

.marg-bottom {
  margin-bottom: -29px;
}

.no-padding-left {
  padding-left: 0px !important;
}

.no-padding-right {
  padding-right: 0px !important;
}

.navigation-bar {
  background-color: white !important;
  padding: 25px 15px;
  text-align: center;
  color: black;
}

.navigation-bar .navbar__row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.navigation-bar .navbar__row svg path {
  fill: black;
}

.navigation-bar .navbar__row .navigation-bar__heading {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 0px;
}

.meal-stats {
  color: #f8f9fac7;
  padding: 21px 33px;
}

.meal-stats .meal-stats__digit {
  font-size: 8vw;
  font-weight: 700;
}

.meal-stats .meal-stats__unit {
  font-size: 3.5vw;
  padding-top: 19px;
  font-weight: 700;
}

.meal-stats .meal-stats__type {
  font-size: 3.5vw;
  text-align: center !important;
  font-weight: 500;
}

.shopping-list {
  width: 90%;
  margin-bottom: 42px;
  margin-top: 10px;
  padding: 10px 10px;
}

.shopping-list .shopping-list__box {
  background: linear-gradient(89deg, #FFBA00 -2.48%, #FBD56E 145.24%);
  border-radius: 8px;
  padding: 8px 7px;
}

.shopping-list .shopping-list__box .shopping-list__cart {
  padding: 7px 0px;
  width: 7vw;
}

.shopping-list .shopping-list__box .shopping-list__arrow {
  padding: 9px 0px;
  width: 7vw;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.shopping-list .shopping-list__box .shopping-list__text-box {
  padding-right: 0px;
  padding-left: 0px;
}

.shopping-list .shopping-list__box .shopping-list__header {
  margin-bottom: 0rem;
  font-size: 4.6vw;
  font-weight: 600;
}

.shopping-list .shopping-list__box .shopping-list__sub-text {
  font-size: 3.2vw;
  margin-bottom: 0rem;
  font-weight: 400;
}

.meal-card {
  width: 100% !important;
  border: 0px !important;
  margin-bottom: 13px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(47.52%, transparent), color-stop(90.24%, black));
  background: linear-gradient(180deg, transparent 47.52%, black 90.24%);
  border-radius: 13px;
  -webkit-box-shadow: 0px 3px 9px -2px black;
          box-shadow: 0px 3px 9px -2px black;
}

.meal-card .meal-card__background-1 {
  border-radius: 13px;
  width: inherit;
}

.meal-card .meal-card__header {
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  background-color: #012CFF;
  margin-left: -5px;
}

.meal-card .meal-card__sub-text {
  font-size: 17px;
  line-height: 32px;
  padding-left: 4px;
  font-weight: 600;
  margin-left: -5px;
}

.meal-card .Card__images {
  text-align: right;
  position: absolute;
  right: 21px;
  bottom: 15px;
}

.meal-card .Card__images .card__image-1 {
  padding-left: 25px;
  width: 50px;
}

.meal-card .Card__images .card__image-2 {
  padding-left: 25px;
  width: 45px;
}

.Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px;
  background: #ffffff;
}

.Content img {
  min-height: 270px;
  max-height: 320px;
  width: 320px;
  margin-right: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Content .rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 8px;
}

.Content .rightside p:first-child {
  margin: 0;
  font-size: 16px;
}

.Content .rightside p {
  margin: 8px 0;
  font-size: 13px;
}

.rightImg1 {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rightImg1::before {
  content: "";
  display: block;
  padding-top: 40%;
}

.rightImg1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.rightImg2 {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rightImg2::before {
  content: "";
  display: block;
  padding-top: 40%;
}

.rightImg2 img {
  position: absolute;
  top: 0;
  left: 150;
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

@media (max-width: 530px) {
  .Content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px;
  }
  .Content img {
    min-height: 0;
    width: 100%;
  }
  .Content .rightside {
    padding-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */